<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sgu">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SGU"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".telas.TelaPerfilV"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".telas.TelaAdicionarPublicacao"
            android:exported="false" />
        <activity
            android:name=".telas.TelaPerfilP"
            android:exported="true" />
        <activity
            android:name=".telas.Sobre"
            android:exported="true" />
        <activity
            android:name=".telas.TelaAdicionarProjeto"
            android:exported="true" />
        <activity
            android:name=".telas.TelaCadastro"
            android:exported="true" />
        <activity
            android:name=".telas.TelaLogin"
            android:exported="true" />
        <activity
            android:name=".telas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>